<!--The content below is only a placeholder and can be replaced.-->

<div class="container">

  <div class="row">
    <h2>{{message}}</h2>
    <h3>
      Welcome to the Trumpish World of Awesomeness!
    </h3>
  </div>

  <div class="row">
    <div class="col s12 m4 l4 xl4">
      <img class="img responsive-img" alt="Trump Cartoon" src="../assets/images/4trump.png">
    </div>

    <div class="col s12 m8 l8 xl8">
      <p class="heading-zero">
        <span>
          KING OF TRUMPISHNESS
        </span>
      </p>
      <h1>{{ title }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m12 l12 xl12">
      <h2>List of celebrities on a scale of Trumpishness </h2>
      <h5>
        <i>Trumpishness is a phenomenon of awesomeness, where we can measure awesomeness in people relative to the awesomeness
          of Donald J. Trump.</i>
      </h5>
      <h5>AI Powered Ranking Coming soon...</h5>
    </div>
  </div>

  <div class="row">
    <app-trumpishpeople (childEvent)="message=$event" [parentData]="name"></app-trumpishpeople>
  </div>

</div>


<!-- <ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->